<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --button-height: 32px;
        --font-size: 14px;
        --button-bg: white;
        --button-active-bg: #eee;
        --border-radius: 4px;
        --color: #333;
        --border-color: #999;
        --border-color-hover: #666;
    }

    #app {
        margin: 20px;
    }

    body {
        font-size: var(--font-size);
    }

    .box {
        margin: 20px;
    }
</style>

<body>
    <div id="app">
        <!--
            按钮
        -->
        <div class="box">
            <g-button>按钮</g-button>
            <g-button icon="setting" icon-position="left">设置</g-button>
            <g-button icon="setting" :loading='loading1' @click="loading1 = !loading1">加载</g-button>
        </div>

        <!--
            输入框
        -->
        <div class="box">
            <g-input v-model="message"></g-input>
            <g-input v-model="message" error="密码不能少于6位数"></g-input>
        </div>
        <script src="./src/app.js"></script>
</body>

</html>